<!DOCTYPE html>
<html lang="en" xmlns:th="https//thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Triangle Form</title>
</head>
<body>
<h1>Triangle</h1>
<form th:method="patch" th:action="@{'/figures/update/triangle/' + ${triangle.getName()}}" th:object="${triangle}">
    <input type="hidden" name="type" value="triangle">
    <label for="name">Enter name triangle:</label><br>
    <input type="text" id="name" th:field="*{name}" th:value="${triangle.getName()}">
    <br/>
    <label for="side A">Side A:</label><br>
    <input type="number" id="side A" th:field="*{sideA}" th:value="${triangle.getSideA()}">
    <br/>
    <label for="side B">Side B:</label><br>
    <input type="number" id="side B" th:field="*{sideB}" th:value="${triangle.getSideB()}">
    <br/>
    <label for="side C">Side C:</label><br>
    <input type="number" id="side C" th:field="*{sideC}" th:value="${triangle.getSideC()}">
    <br/>
    <input type="submit" value="Submit">
</form>
</body>
</html>